<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calcularo App</title>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body class="container  mx-auto h-screen">
  <div class="card mt-10 flex justify-center items-center">
    <div class="card-body bg-white p-8 card">
      <form id="calculatorForm">
        <div class="form-control">
          <label for="val1">Valor 1:</label>
          <input type="number" class="input bg-gray-200/80 " id="val1" required>
        </div>
        <div class="form-control">
          <label for="val2">Valor 2:</label>
          <input type="number" class="input bg-gray-200/80" id="val2" required>
        </div>
        <div class="form-control mb-5">
          <label for="operation">Operação:</label>
          <select class="select select-bordered w-full max-w-xs bg-gray-200/80" id="operation" required>
            <option value="ad">Adição</option>
            <option value="sub">Subtração</option>
            <option value="mult">Multiplicação</option>
            <option value="div">Divisão</option>
            <option value="exp">Exponenciação</option>
          </select>
        </div>
        <div class="flex mt-3 justify-center">
          <button type="button" class=" btn btn-active btn-accent" onclick="calculate()">Calcular</button>
        </div>
      </form>
    </div>
    <div id="result" class="p-4 mt-2"></div>
  </div>
  </div>
</body>



<script>
  function calculate() {
    var val1 = $('#val1').val();
    var val2 = $('#val2').val();
    var op = $('#operation').val();

    $.ajax({
      url: `/calcularo/${val1}/${val2}/${op}`,
      type: 'GET',
      success: function (data) {
        $('#result').html(`<p>Resultado: ${data.resultado}</p>`);
      },
      error: function (error) {
        console.log(error);
      }
    });
  }
</script>
</body>

</html>